body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    display: grid;
    gap: 10px;
}

h2 {
    text-align: center;
}

.form-group {
    display: grid;
    grid-template-columns: 150px 10px auto;
    align-items: center;
}

label {
    font-weight: bold;
}

.separator {
    text-align: center;
}

input[type="text"] {
    margin-right: 3px;
}

input[type="date"] {
    margin-right: 3px;
}

.radio-group {
    display: flex;
    gap: 10px;
}